body {
  background-color: darkgrey;
  font-family: "Roboto", sans-serif;
}

span {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  /* font-size: 32px; */
  /* font-size: 2em; */
  /* font-size: 2rem; */
  text-align: center;
}

p,
span {
  text-align: justify;
  color: lightgray;
}

#lorem-head {
  background-color: red;
}

.generic-ulist {
  background-color: blue;
}